.card-section {
  margin: auto;
  height: auto;
}
.caard-section{
  margin:260px auto;
}
.cardheader3 {
  background-color: #ffffff;
  padding: 40px 10px;
  margin: 80px 30px;
  justify-content: center;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
  border: none;
  font-family: Montserrat;
  transition: all 2s ease-in-out !important;
  height: 500px !important;
}
.cardheader3:hover {
  bottom: 4px;
}
.card-section-img {
  position: absolute;
  left: -30px;
  margin: -9rem auto;
  z-index: -10;
  width: 40%;
}
.card-section-img-2 {
  float: right;
  position: relative;
  top: -550px;
}
@media screen and (min-width: 1400px) {
  .card-section-img {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .cardheader3 {
    width: 100%;
    margin: 50px auto;
  }
  .image-card-section {
    width: 100%;
  }

.caard-section{
  margin:260px auto 80px auto;
}
}
