.bg-faq {
  position: absolute;
  right: 0px;
  margin: -20px auto;
  z-index: -10;
  width: 100%;
}
.faq-img-1 {
  width: 100%;
}



.card-faq-coll{
    border: none;
    /* 
    margin-bottom: 0px;
    padding:5px 15px;
    cursor: pointer; */ 
    background:transparent;
}
.card-header-faq{
    background-image: linear-gradient(to right, #21d397 0%, #7450fe 100%);
color: white;
margin: 20px 0 0 0;
cursor: pointer;
border-radius: 25px !important;

}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600;
    color:white;
    margin: 10px 10px auto auto;
}
.accordion-section .panel-default .panel-title [data-toggle="collapse"]  a:after {
    font-family: 'Montserrat';
    font-size: 3rem;
    color: #ffffff;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-body {
    font-size: 16px;
    color: #888888;
    font-weight: 400;
    font-family: Montserrat;
}