.carousel-sec {
  margin: auto;
  height:400px !important;
  
}
.Carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90%;
  color: #000;
  margin: 20px auto;
  font-size: 4em;
}
.card-carousel{
    border-radius: 1.25rem !important;

}
.img-car {
  border-radius: 50%;
  width: 24%;
}
.card-para-carousel {
  font-size: 14px;
  font-weight: 900;
  color: #888888;
  margin: 20px auto;
  font-family: Montserrat;
}
.card-para-carousel1 {
  font-size: 14px;
  font-weight: 900;
  color: #888888;
  margin-bottom: 10px !important;
  text-align: center;
  font-family: Montserrat;
}
.core-section-img-bg-1 {
  position: absolute;
  left: 10px;
  margin: 1rem auto;
  z-index: -999;
  width: 50%;
}
