.cardheader2{
    background-color: #287ff9 !important;
    color: white;
    padding: 25px 15px 15px 15px;
    margin: 30px 0 30px 0;
    text-align: center;
    transition: all 1500ms ease-in-out;
}
.cardheader2:hover{
    bottom: 4px;
    transition: all 1500ms ease-in-out;

}
.cardheader1{
    margin: -70px 0 -30px 0;
}
/* .i-icon{
    color: #2073e7;
    position: absolute;
    right: -30px;
    bottom: -30px;
    font-weight: 600;
    opacity: 0.5;
    transition: all .4s ease-in-out;

}  */
