@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&family=Montserrat:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500&family=Slabo+13px&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
.btn-cta-primary {
  border: 2px solid #ffffff;
  margin: auto;
  color: #f9f9fa;
  border-radius: 0;
  font-weight: 600;
  font-family: "Slabo", sans-serif;
}
.btn-cta-primary:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #001242;
}
.top-intro {
  padding: 10em 0 10em 0;
  background: #000;
  color: #fff;
  border-radius: 0;

  font-family: "Slabo 13px", serif;
}
.intro-image {
  display: inline-block;
  max-width: 100%;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
}
.top-intro .title {
  font-size: 2.85rem;
  font-weight: 700;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}
.explainer {
  font-size: 15px;
  margin: 20px auto;
  font-weight: 700;
  color: white;
  font-family: "Slabo", sans-serif;
}
.header-carousel img {
  width: 100%;
  border-radius: 20px;
}
.mhl__title {
  font-size: 36px;
  font-weight: 900;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;

  color: #202d3b;
}
.mhl__explainer {
  font-size: 16px;
  font-weight: 500;
  margin: auto;
  color: rgba(51, 53, 54, 0.836);
  font-family: "Arvo", serif;
}

.btn-cta-secondary {
  border: 2px solid #001242;
  margin: auto;
  color: #001242;
  border-radius: 0;
  font-weight: 600;
}
.btn-cta-secondary:hover {
  text-decoration: none;
  background-color: #001242;
  color: #fff;
}

.item {
  padding: 90px 0;
  border-bottom: 1px solid #eee;
}
.item .title {
  font-size: 36px;
  color: #001242;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 900;
}
.item .regulatory {
  margin-top: -1em;
}
.item .regulatory img {
  border: 2px #222 dashed;
  max-width: 20%;
  display: inline-block;
  margin: 1em 1em 1em 0em;
  opacity: 0.8;
}
.item .desc {
  margin-bottom: 60px;
}
.figure {
  position: relative;
  text-align: center;
}
.figure .figure-caption {
  color: #333;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}
.figure img {
  margin-left: auto;
  margin-right: auto;
}
.desc > p {
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 53, 54, 0.836);
}
@media (min-width: 768px) {
  .figure .qXR {
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  .section .title {
    font-size: 32px;
  }
}
.carousel-indicators {
  bottom: -6em;
}
.jumbotron:hover .carousel-control-prev .carousel-control-prev-icon {
  opacity: 0.7 !important;
}
.jumbotron:hover .carousel-control-next .carousel-control-next-icon {
  opacity: 0.7 !important;
}
.carousel-control-prev .carousel-control-prev-icon {
  background-image: url("https://qure.ai/assets/images/flexslider/slider-arrow.svg");
  transform: rotate(180deg);
  margin-left: -4em;
  opacity: 0px;
}
.carousel-control-next .carousel-control-next-icon {
  background-image: url("https://qure.ai/assets/images/flexslider/slider-arrow.svg");
  margin-left: 4em;
  opacity: 0;
}
@media (max-width: 992px) {
  .top-intro .title {
    font-size: 1.85rem;
  }
  .carousel-control-prev .carousel-control-prev-icon {
    display: none;
  }
  .carousel-control-next .carousel-control-next-icon {
    display: none;
  }
}
@media (max-width: 768px) {
  .top-intro {
    padding: 10em 0 4em 0;
  }
}
#news-alert {
  margin: -2.5rem 10rem 2rem;
  display: flex;
  padding: 1.5rem;
  color: #444;
  border-radius: 8px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  background: #dedede;
  justify-content: space-between;
}
#news-alert a {
  font-weight: bold;
  text-decoration: none;
}
@media (min-width: 320px) and (max-width: 480px) {
  #news-alert {
    margin: -2rem 1rem 2rem;
    font-size: 13px;
    flex-direction: column;
    padding: 0.5rem;
  }
}

.home-page .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("https://qure.ai/assets/images/flexslider/slider-arrow.svg");
  transform: rotate(180deg);
  margin-left: -4em;
  opacity: 0;
}
.home-page .carousel-control-next .carousel-control-next-icon {
  background-image: url("https://qure.ai/assets/images/flexslider/slider-arrow.svg");
  margin-left: 4em;
  opacity: 0;
}
@media (max-width: 768px) {
  .section .title {
    text-align: center;
  }

  .partner{
    margin-top: 20px;
  }
}
.cta-section {
  background-size: cover;
  min-height: 420px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.cta-section .title {
  font-size: 36px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 60px;
  color: #202d3b;
}
.cta-section img {
  max-width: 150px;
  max-height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .section .title {
    font-size: 32px;
  }
}
/*! CSS Used from: Embedded */
@media (min-width: 320px) and (max-width: 480px) {
  .img-container .partner {
    display: block;
    margin: 5px auto 0;
  }
}
#partners-carousel .carousel-indicators {
  bottom: -6em;
}
#partners-carousel .carousel-indicators > li {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 0px solid transparent;
}
#partners-carousel .carousel-indicators > li.active {
  background: rgba(0, 0, 0, 0.8);
}
